<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--服务运行时间-->
    <add key="RunTime" value="11:52" />
    <!--测试环境-->
    <add key="dbConntion" value="server=115.159.143.59;port=3306;userid=root;password=zj@ucmed;database=test;Charset=utf8;" />
    <!--演示环境-->
    <!--<add key="DBConntion" value="server=192.168.1.87;port=3306;userid=root;password=5d7eN&amp;XEe31ODztf;database=ucmedbookingplatform;Charset=utf8;" />-->
    <!--腾讯云预生产库-->
    <!--<add key="DBConntion" value="server=564e8bef1ec50.sh.cdb.myqcloud.com;port=6454;userid=cdb_outerroot;password=dV2*iNp!qZ6#hM2;database=ucmedbookingplatform;Charset=utf8;" />-->
    <!--医院组织机构代码-->
    <!--<add key="HospitalId" value="1118011814561100810"/>-->
    <add key="HospitalId" value="1118032211085575923" />
    <!--队列排班显示日期条数-->
    <add key="QueueArrangeDisplayCount" value="10" />
    <!--exe 标题设置-->
    <add key="DisplayFormTitle" value="队列排班" />
    <!--日志-->
    <add key="LogPath" value="LogPath" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
 
</configuration>