/**/.vs
/**/bin
/**/obj
/**/packages
/**/Log
/**/Logs
Server/Test/**
Tools/**/.vs
Tools/**/bin
Tools/**/obj
Tools/**/packages
Tools/**/Log
Tools/**/Logs
Tools/**/.config

Server/BookingPlatform/Properties/PublishProfiles/Jenkins_build.pubxml.user
Server/BookingPlatformNetwork/Properties/PublishProfiles/Jenkins_build.pubxml.user
Server/BookingPlatform.sln.rej
Server/BookingMiniServer/App.config.rej
Server/BookingPlatform_Dal/BookingPlatform_Dal.csproj.rej
Server/Ucmed.Server.SendSMS/Ucmed.Server.SendSMS.csproj.user
Server/Ucmed.Server.SendSMS/Properties/PublishProfiles/FolderProfile.pubxml.user
Server/Ucmed.Server.SendSMS/Properties/PublishProfiles/FolderProfile.pubxml
Server/SourceGenerateJob/SourceGenerateJob.csproj.user
Server/SourceGenerateJob/Properties/PublishProfiles/FolderProfile.pubxml.user
Server/SourceGenerateJob/Properties/PublishProfiles/FolderProfile.pubxml
Server/BookingPlatform_QueueArrange/Properties/PublishProfiles/FolderProfile.pubxml.user
Server/BookingPlatform_QueueArrange/Properties/PublishProfiles/FolderProfile.pubxml
