<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="DBConntion" value="server=192.168.1.87;port=3306;userid=root;password=5d7eN&amp;XEe31ODztf;database=ucmedbookingplatform;Charset=utf8;" />
      <!--腾讯云预生产库-->
      <!--<add key="DBConntion" value="server=564e8bef1ec50.sh.cdb.myqcloud.com;port=6454;userid=cdb_outerroot;password=dV2*iNp!qZ6#hM2;database=ucmedbookingplatform;Charset=utf8;" />-->
      <!--用户中心预生产API地址-->
      <!--<add key="UserPlatfromAddress" value="http://preuserplat.zwjk.com"/>-->
      <!--用户中心测试API地址-->
      <add key="UserPlatfromAddress" value="http://192.168.1.83:8100"/>
      <!--对接用户中心系统appId-->
      <add key="UserPlatformAppID" value="ytyyht49002a601760eca3ddbbc745c81d552b" />
    </appSettings>
</configuration>